/*基本样式*/
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
ul,li {
    list-style: none;
}
body {
    background-color: #fff2e3;
    font-size: 14px;
    text-align: center;
    color: #87968e;
    font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}